.foodCard {
  width: 85%;
  height: 500px;

  background-color: #4d2600;
  border-radius: 15px;
  box-shadow: 10px 10px 6px 0px rgba(8, 8, 8, 0.5);

  display: inline-block;
  margin: 0 7.5%;
}

.foodImg {
  width: 100%;
  height: 250px;
  border-radius: 15px 15px 0 0;
}

.nameContainer {
  height: 250px;
  border-radius: 0 0 15px 15px;
  position: relative;
  bottom: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.foodName {
  text-align: center;
  font-size: 3rem;
  max-height: 100%;
  overflow: hidden;
}
