.foodCard {
  width: 85%;
  height: 500px;

  background-color: #4d2600;
  border-radius: 15px;
  box-shadow: 8px 8px 8px 0px rgba(34, 60, 80, 0.2);

  /* comment to delete */
  position: relative;
  top: 140px;
  margin: 0 auto;
  /* comment to delete */

}

.foodImg {
  width: 100%;
  height: 250px;
  border-radius: 15px 15px 0 0;
}

.nameContainer {
  /* height: 230px; */
  height: 250px;
  border-radius: 0 0 15px 15px;
  position: relative;
  bottom: 10px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #4d2600;
  background: repeating-linear-gradient( -45deg, #0F0003, #0F0003 5px, #4d2600 5px, #4d2600 25px );
}

.foodName {
  text-align: center;
  font-size: 3rem;
  max-height: 100%;
  overflow: hidden;
}
