.foodCard {
  width: 85%;
  height: 500px;

  background-color: #4d2600;
  border-radius: 15px;
  box-shadow: 10px 10px 6px 0px rgba(8, 8, 8, 0.5);

  display: inline-block;
  margin: 0 7.5%;
}

.foodImg {
  width: 100%;
  height: 250px;
  border-radius: 15px 15px 0 0;
}

.nameContainer {
  height: 250px;
  border-radius: 0 0 15px 15px;
  position: relative;
  bottom: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
  white-space: normal;
}

.foodName {
  text-align: center;
  font-size: 3rem;
  max-height: 100%;
  overflow: hidden;
}

.author {
  position: absolute;
  top: -49px;
  right: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.9);
  max-width: 89%;
  white-space: nowrap;
  overflow: hidden;
}
