.foodCardsContainer {
  height: 500px;
  overflow-y: hidden;
  overflow-x: scroll;
  white-space: nowrap;
  position: relative;
  z-index: 10000;
}

.foodCardsContainer::-webkit-scrollbar {
    display: none;
}


