* {
  margin: 0;
  padding: 0;
}

.App {
  min-width: 100vw;
  min-height: 100vh;

  color: white;
  background-color: #0f0003;
  background-image: url('/public/foodPattern.png');

  font-family: Roboto, sans-serif;
  font-size: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.heading {
  position: absolute;
  /* top: 50px; */
  top: 5.2%;
  left: 7.5%;
  font-size: 2rem;
  color: var(--white);
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
}

.pastaIcon {
  transform: scale(1.4);
  margin-right: 10px;
}

.addIcon {
  color: white;
  transform: scale(3.4);
  position: absolute;
  bottom: 5.2%;
  color: var(--white);
  left: 9%;
}

.addIcon:active {
  transform: scale(4);
}
